.all-ham-content {
  min-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.title-content {
  position: relative;
  background-image: url("../imgs/section-1(header).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(67, 65, 56, 0.6);
  display: flex;
  justify-content: center;
}

.title-container {
  width: 1160px;
  max-width: 1160px;
  text-align: center;
}

.menu-item > a {
  color: lightgrey;

}

#header {
  background: linear-gradient(45deg, rgba(60, 60, 60, .5), rgba(60, 60, 60, 0.5));
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header-content-width {
  max-width: 1160px;
  margin: 0 20%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 1160px;
}

.header-title {
  cursor: pointer;
}

.hexagon {
  position: relative;
  width: 40px;
  height: 23px;
  background-color: #18cfab;
  margin: 11px 0;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  right: 0;
  border-bottom: 11px solid #18cfab;
}

.hexagon::after {
  top: 100%;
  right: 0;
  width: 0;
  border-top: 11px solid #18cfab;
}

.green-title-word {
  display: inline-block;
  font-size: 22px;
  margin-left: 5px;
  font-weight: bolder;
  color: #18cfab;
}

.white-title-word {
  display: inline-block;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.fa-search {
  font-size: 18px;
  color: #bbbbbb;
}

.menu {
  font-size: 11px;
  color: #8c8c89;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  font-weight: 900;
  width: 600px;
  justify-content: space-evenly;
}

.menu-item {
  padding: 45px 0 45px 0;
}

.menu-item:hover {
  border-bottom: 1px solid #18cfab;
}

.titles-container {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
}

.titles-headers {
  padding: 190px 0;
}

.explore-btn {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: #18cfab;
  padding: 20px;
  border-radius: 5px;
  border-top: 3px solid white;
  cursor: pointer;
}

.purchase-btn {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: #00cbf6;
  padding: 20px 13px 20px 13px;
  border-radius: 5px;
  border-top: 3px solid white;
  cursor: pointer;
}

.white-title-span {
  color: #18cfab;
}

.slogan-1 {
  margin-bottom: 20px;
}

.slogan-2 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.slogan-3 {
  color: #d4d4d4;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 80px;
}

.offers-blocks {
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #18cfab;
  background-color: #1c2a33;
}

.each-offers-blocks {
  padding: 80px 0 80px 0;
}

.first-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid #18cfab;
  height: inherit;
  width: 25%;
  justify-content: center;
}

.second-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid white;
  height: inherit;
  width: 25%;
  justify-content: center;
  background-color: #18cfab;
  color: white;
}

.third-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid #18cfab;
  height: inherit;
  width: 25%;
  justify-content: center;
}

.fourth-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid white;
  height: inherit;
  width: 25%;
  justify-content: center;
  background-color: #18cfab;
  color: white;
}

.offers-centered {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-content {
  max-width: 997px;
  text-align: center;
  font-size: 32px;
  margin: 85px 0 100px;
}

.services-content > h2 {
  display: block;
  padding: 0 0 70px;
  position: relative;
}

.services-content > h2::after {
  position: absolute;
  bottom: 35px;
  right: 454px;
  left: 467px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.services-content > h2::before {
  position: absolute;
  bottom: 40px;
  right: 466px;
  left: 455px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}


.services-titles {
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-bottom: 35px;
  cursor: pointer;
}

.services-titles > span {
  border: 1px solid #eff0f1;
  background: #f8fcfe;
  padding: 15px 0;
  width: 165px;
  border-right: none;
  box-sizing: border-box;
  position: relative;
}

.services-titles > span:last-child {
  border-right: 1px solid #eff0f1;
}

.services-text {
  font-size: 15px;
  text-align: start
}

.active {
  display: flex;
}

.web {
  display: flex;
}

.services-tabs {
  z-index: 5;
}

.services-img {
  margin-right: 20px;
  width: 170px;
  border: 1px solid #9f9e95;
}

.web-btn:hover {
  color: white;
  background: #18cfab;
}

.graphic-btn:hover {
  color: white;
  background: #18cfab;
  border: 1px solid #18cfab;
}

.support-btn:hover {
  color: white;
  background: #18cfab;
  border: 1px solid #18cfab;
}

.app-btn:hover {
  color: white;
  background: #18cfab;
  border: 1px solid #18cfab;
}

.marketing-btn:hover {
  color: white;
  background: #18cfab;
  border: 1px solid #18cfab;
}

.seo-btn:hover {
  color: white;
  background: #18cfab;
  border: 1px solid #18cfab;
}

.active-btn:after {
  content: '';
  position: absolute;
  bottom: -12px;
  right: 60px;
  border-top: solid 20px #18cfab;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

.services-titles > span.active-btn {
  color: white;
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.selling {
  background: url("../imgs/selling-section.png") no-repeat fixed;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  background-position-y: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
}

.selling::before {
  content: '';
  z-index: -20;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.selling-slogan {
  font-size: 40px;
  color: #18cfab;
  font-weight: 600;
  margin-bottom: 25px;
}

.selling-text {
  color: white;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.purchase-btn-green {
  cursor: pointer;
  background: #18cfab;
  padding: 20px 13px 20px 13px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  border-top: 3px solid white;
  color: white;
}

.work-examples {
  background: #f8fcfe;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-work-examples {
  max-width: 1160px;
  text-align: center;
  width: 1160px;
  margin: 85px 0 110px;
}

.container-work-examples > h2 {
  display: block;
  padding: 0 0 70px;
  position: relative;
  font-size: 32px;
}

.container-work-examples > h2::after {
  position: absolute;
  bottom: 35px;
  right: 540px;
  left: 555px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.container-work-examples > h2::before {
  position: absolute;
  bottom: 40px;
  right: 550px;
  left: 540px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.work-examples-titles {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.work-examples-titles > span {
  display: inline-block;
  border: 1px solid #eff0f1;
  border-right: none;
  padding: 15px;
  font-size: 11px;
  background: #ffffff;
  cursor: pointer;
  border-top: 3px solid transparent;
}

.work-examples-titles > span:last-child {
  border-right: 1px solid #eff0f1;
}

.work-examples-imgs {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.load-more-btn {
  background: #18cfab;
  padding: 20px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.load-more-btn:hover {
  transition: 1000ms;
  background-color: rgba(0, 365, 365, .1);
  color: #18cfab;
  border: 2px solid #18cfab
}

.load-more-btn::before {
  content: url("../imgs/plus-pseudo-element.png");
  margin-right: 10px;
}

.section-menu-link {
  border-top: 3px solid transparent;;
}

.section-menu-link:hover {
  border-top: 3px solid #18cfab;
}

.section-menu-link.active-tabs {
  border-top: 3px solid #18cfab;
  color: #18cfab;
}

.all-images {
  height: 206px;
  position: relative;
  overflow: hidden;
}

.imgs-hover {
  transform: translateY(100%);
  transition: 0.8s;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top: 3px solid #18cfab;
}

.all-images:hover .imgs-hover {
  transform: translateY(0);
}

.fa-link {
  font-size: 18px;
  color: #bbbbbb;
}

.styled-fas {
  width: 40px;
  height: 40px;
  background: #18cfab;
  border-radius: 50%;
  position: relative;
  color: white;
  border: 1px solid transparent;
}

.styled-fas::before {
  content: "\f0c1";
  position: absolute;
  top: 11px;
  right: 11px;
}

.styled-fas:hover {
  background-color: white;
  color: #18cfab;
  border: 1px solid #18cfab;
}

.hovers-titles {
  text-transform: uppercase;
  font-size: 21px;
  color: #18cfab;
  font-weight: 600;
  margin-bottom: 10px;
}

.hovers-texts {
  font-size: 19px;
  color: #a0a1a1;
}

.font-awesome-items {
  margin: 33px 0 33px;
}

.breaking-news {
  background: #ffffff;
  border-top: 1px solid #e1e1e1;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-breaking-news {
  max-width: 1160px;
  text-align: center;
  width: 1160px;
  margin: 85px 0 125px;
}

.container-breaking-news > h2 {
  display: block;
  padding: 0 0 70px;
  position: relative;
  font-size: 32px;
}

.container-breaking-news > h2::after {
  position: absolute;
  bottom: 35px;
  right: 540px;
  left: 555px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.container-breaking-news > h2::before {
  position: absolute;
  bottom: 40px;
  right: 550px;
  left: 540px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.all-breaking-news-blocks-imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.each-breaking-news-block {
  margin-bottom: 50px;
}

.blogs-content {
  background-color: #f8fcfe;
  padding: 0 20px;
  text-align: start;
  border: 1px solid #eff0f1;
  color: #717171;
}

.blogs-content > h3:nth-child(1) {
  font-weight: 700;
  font-size: 17px;
  margin: 15px 0;
}

.blogs-content > h3:nth-child(2) {
  display: none;
}

.blogs-content > p {
  font-size: 16px;
  margin-bottom: 15px;
}

.each-breaking-news-block {
  position: relative;
}

.blogs-date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #203e38;
  color: #ffffff;
}

.blogs-date > p {
  margin: 13px 20px;
}

.each-breaking-news-block:hover .blogs-content > h3.first-hover-title {
  display: none;
}

.each-breaking-news-block:hover .blogs-content > h3.second-hover-title {
  display: block;
  color: #18cfab;
  font-weight: 700;
  font-size: 17px;
  margin: 15px 0;
}

.each-breaking-news-block:hover .blogs-date {
  background-color: #18cfab;
  color: white;
}

.people-feedback {
  background-image: url("../imgs/section-3(what-people-say-about-us).jpg");
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(67, 65, 56, 0.6);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}

.container-people-feedback {
  max-width: 1160px;
  text-align: center;
  width: 1160px;
  margin: 85px 0 125px;
  position: relative;
}

.container-people-feedback > h2 {
  display: block;
  padding: 0 0 100px;
  position: relative;
  font-size: 32px;
  color: white;
}

.container-people-feedback > h2::after {
  position: absolute;
  bottom: 50px;
  right: 540px;
  left: 555px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.container-people-feedback > h2::before {
  position: absolute;
  bottom: 55px;
  right: 550px;
  left: 540px;
  content: '';
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  font-size: 16px;
  color: #8c8c89;
}

.gallery-top {
  height: 345px;
  width: 1097px;
  text-align: center;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 59px;
  width: 404px;
}

.gallery-thumbs .swiper-slide {
  height: 60px;
  width: 60px !important;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(26, 206, 171, .2);
}

.gallery-thumbs .swiper-slide-thumb-active {
  border: 1px solid #18cfab;
  position: relative;
  bottom: 5px;
}

.swiper-button-next {
  top: 586px;
  left: 796px;
  border: 1px solid lightgrey;
  width: fit-content;
  height: fit-content;
  padding: 7px 11px;
  color: lightgrey;
}

.swiper-button-prev {
  left: 342px;
  top: 586px;
  border: 1px solid lightgrey;
  width: fit-content;
  height: fit-content;
  color: lightgrey;
  padding: 7px 11px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

.arrow {
  color: white;
}

.swiper-header-name {
  text-transform: uppercase;
  color: #18cfab;
  font-weight: 700;
  margin: 43px 0 20px;
}

.swiper-position {
  margin-bottom: 40px;
}

.swiper-image {
  border-radius: 50%;
  border: 2px solid #18cfab;
  box-shadow: 0 0 0 10px rgba(26, 206, 171, .2);
  width: 154px;
  height: 140px;
}

.swiper-button-white:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  color: white;
}

.quote {
  font-size: 36px;
  margin-bottom: 27px;
  color: #18cfab;
}

.copyrights {
  width: 100%;
  background: #22353f repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e3e4e5;
}

.container-copyrights {
  text-align: center;
}

.container-copyrights > p {
  color: #a5a6a7;
  font-size: 14px;
  padding: 50px 0;
}

.copyrights-span {
  color: #18cfab;
}
